footer {

border-radius: 52px 52px 0px 0px;
background-color: black;
position: absolute;
width: 1900px;
height: 300px;
left: 0px;
top: 3000px;

filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}

.logob {

    position: absolute;
    width: 291px;
    height: 262px;
    left: 129px;
    top: 20px;
    border-radius: 20%
}


.kep {
    
    width: 1900px;
    height: 621px;
    left: auto;
    
    border-radius: 20px 20px 20px 20px ;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.kul {

    position: absolute;
width: 1700px;
height: 70px;
left: 92px;
top: 825px;
background-color:#D1A571;
font-family: 'Pacifico' ;
font-size: 35px;
line-height: 47px;
display: flex;
align-items: center;
text-align: center;
border-radius: 25px 25px 25px 25px;
color: #000000;
}

.szov {
    position: absolute;
    left: 750px;
    color: black;
    background-color: #D1A571;
    

}

body {

    max-width: auto;
    max-height: auto;
    


}

h4{
    background-color: #d1a571;

}

.szoveg{

    font-family:'Pacifico' ;
    position: absolute;
    left: 500px;
    top: 950px;
    background-color:rgb(245, 243, 243);
    font-size: 23px;
    border-radius: 25px 25px 25px 25px;

    
}

.szoveg{
    background-color:rgb(245, 243, 243) ;
    font-size: 25px;
    border-radius: 25px 25px 25px 25px;
    opacity: 60%;
    text-align: center;
}


.blogbanner{

    position: absolute;
    width: 1700px;
    height: 70px;
    left: 90px;
    top: 1500px;
    background-color:#D1A571;
    font-family: 'Pacifico' ;
    font-size: 35px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 25px 25px 25px 25px;
    color: #000000;

}

h3{

    position: absolute;
    text-align: center;
    color:#000000;
    background-color:#D1A571;
    left:650px ;

}



