
/*2k*/

/*@media (min-width:2300px) {

    .navlinks li a {
        font-size: 30px;
    }




    body {
        max-width: 100%;
        max-height: 100%;
    }

    footer{
        height: 275px;;
        width: 2560px;
        max-width: 200%;
        max-height: 100%;
        top: 175vh;
        left:0px;


    }


    
.kul {
    width: 80%;
    height: 115px;
    position: absolute;
    top: 60vh;
    left: 200px;
}

.alcim{
    font-size: 40px;



}



    .kep{  
        position:absolute ;
        width: 98%;
        left: 25px;
        height: 50%;
    }

    .blogbanner {
        width: 80%;
        height:90px ;
        position: absolute;
        top:100vh;
        left:200px;
    


    }
    h3 {
        position: absolute;
        left: 30vw;
        font-size: 60px;
        top: 1vh;
        

    }


    .blogszoveg {
        position: absolute;
        left: 120px;
        top:110vh;
        font-size: 70px;



    }

    .szoveg {
        position: absolute;
        left: 400px;
        font-size: 45px;
        top: 70vh;        

        
    }




    .responsive {
        display: none;
    }


    .respo {
        max-width: 100%;
        max-height: 100%;


    }

    .szov {

        position: absolute;
        
        left:35vw;
        font-size: 60px;


    }



    .logob {
        height: 80%;
        width: 10%;
        position:absolute;
        left: 5vw;
        top:1vh;
    }*/